asgiref
audioread
certifi
cffi
charset-normalizer
decorator
diskcache
Django
idna
imageio
imageio-ffmpeg
joblib
lazy_loader
librosa
llvmlite
moviepy
movis
msgpack
numba
numpy
opencv-python
packaging
Pillow
platformdirs
pooch
proglog
pycparser
PySide6
PySide6-Addons
PySide6-Essentials
requests
scikit-learn
scipy
shiboken6
six
soundfile
soxr
sqlparse
threadpoolctl
tqdm
transliterate
typing_extensions
urllib3